body {
  margin: 0;
  font-family: "Helvetica";
  box-sizing: border-box;
  color: white;
  background: #000000;
}
h1 {
  margin:0;
  font-size: 20px;
}

.email-form {
  display: flex;
  align-items: flex-end;
  margin-top: 30px;
  margin-bottom: 10px;
  position: relative;
}