body {
  margin: 0;
  font-family: "Helvetica";
  box-sizing: border-box;
  color: white;
  background: #000000;
}
h1 {
  margin:0;
  font-size: 20px;
}
.hearder-content{
    /* background: radial-gradient(black, red); */
    background: red;
}